


<!DOCTYPE html>
<html lang="en">

<div style="text-align:center">
 <h1> 
   Welcome to Weather App..
 </h1>
 </div>
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WeatherGuide</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Weather News</a></li>
<li> <a routerLink="/Gallery" routerLinkActive="active">Weather Gallery</a></li>    
 <li><a href="#">Contact</a></li>
 
</ul>
    <form class="navbar-form navbar-left">
      <div class="form-group">
      <input type="text" [(ngModel)]="name" name="search" class="form-control" placeholder="Search"> 
        
      </div>
      <a routerLink="/Citydata/{{name}}"
      routerLinkActive="active"><button type="submit" class="btn btn-default">Submit</button></a>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>
        <p>Weather Guide, All rights reserved 2016-2017.</p>
    </footer>

</body>
</html>

